<!DOCTYPE html>

<html lang="en">

{{template "header.html"}}

<body>
  <div class="navbar-wrapper">
    <div class="container">
      {{template "navbar.html"}}
    </div>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="https://misspuppyuk.com/img/mainpage.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>About MissPuppyUK</h1>
            <p>Find out more about the title MissPuppyUK!</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="/manage/profile" role="button">Manage Profile</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About MissPuppyUK</h2>
        <p class="lead">
          <br><br>Miss Puppy Uk Election Will be held at Pouncing Paws on the 14th January 2018 in Southampton.
          <br><br>Miss Puppy UK is an election to find the first female pup who is will to donate their personal time to
          our community, it is hard work and they are willing to represent, promote and support our whole community.
          <br><br>We have a growing number of female, straight males, trans and none binary pups in the community and one
          of the main focus for Miss Puppy will be to provide a friendly welcome and safe place to start and help new pups
          coming into the community and find their paws as they learn about their pup side.
          <br><br>Miss Puppy also aims to work with the Mister Puppy team in supporting the whole community in up coming
          projects and events.
          <br><br>We are all individuals and We are one community and we all have our own reasons for being pups and embracing
          our differences is a cornerstone of the pup communities identity and one of Miss Puppy's goals is to help all those
          work together.
          <br><br>Choosing to be Miss Puppy, you will be taking on a challenging and rewarding role and supported by Miss
          Puppy team to expand the puppy community in positive ways being through media, social events, public forums and
          personal contacts.
          <br><br>We all wish all discrimination would be a thing of the past; but we have to deal with it in the present
          and as such part of Miss Puppy's ethos, we stand against all forms of discrimination especially those hidden in
          humour.
          <br><br>As well as the serious issues, Puppy Play is about fun, play and friendship which is important and definitely
          a drive behind Miss Puppy too .
          <br><br>Check out the contact page for links to our telegram and twitter pages or leave a message for any enquires</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="https://misspuppyuk.com/img/misspuppy.png" alt="MissPuppyIcon">
      </div>
    </div>



    {{template "footer.html"}} {{template "footer-scripts.html"}}

</body>

</html>