<!DOCTYPE html>

<html lang="en">

<body>

    {{template "header.html"}} {{template "navbar.html"}}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="https://misspuppyuk.com/img/mainpage.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>The candidates</h1>
                        <p>Find all the candidates, browse through their profiles and give your vote for your favorite pup!<br>End
                            of submissions is: 10th of January, 2018 at 3:30 .</p>
                        <p><a class="btn btn-lg btn-primary" href="manage/profile" role="button">Manage Profile</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container marketing">

        <div class="row">
            {{ range .Candidates }}
            <div class="col-lg-4"><img class="img-circle" src="https://misspuppyuk.com/{{ .ImageURL }}" alt="Avatar" width="140" height="140">
                <h2>{{ .Username }}</h2>
                <p>To learn more about this pup, click the button below!<br>This pup has {{ .Votes }} Vote(s).</p>
                <p><a class="btn btn-default" href="{{ .ProfileURL }}" role="button">View profile</a></p>
            </div>
            {{ end }}
        </div>

        {{template "footer.html"}}
        {{template "footer-scripts.html"}}

</body>

</html>