<div class="container marketing">
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; MissPuppyUK 2017. &middot; <a href="terms">Terms</a> &middot; <a href="contact">Contact Us</a></p>
    </footer>
</div>
