<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://misspuppyuk.com/js/bootstrap.min.js"></script>
<script src="https://misspuppyuk.com/js/ie10-viewport-bug-workaround.js"></script>