<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to the official Miss Puppy UK website. Here you can find infos, contact details and the candidates as well as giving your vote to the candidate of your choice!">
    <meta name="author" content="Lucky">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>MissPuppyUK</title>
    <link href="https://misspuppyuk.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://misspuppyuk.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://misspuppyuk.com/css/carousel.css" rel="stylesheet">
</head>
