<!DOCTYPE html>

<html lang="en">

{{template "header.html"}}

<body>
    {{template "navbar.html"}}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="https://misspuppyuk.com/img/mainpage.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Welcome to MissPuppyUK</h1>
                        <p>
                            On here you can find information about the title, the election and you can also sign up as either a candidate or vote for
                            your favorite pup!<br> End of submissions is: 10th of January, 2018
                            at 3:30PM GMT.
                        </p>
                        <!-- <p><a class="btn btn-lg btn-primary" href="/manage/profile" role="button">Manage Profile</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{template "footer.html"}}
    {{template "footer-scripts.html"}}

</body>

</html>