<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <a style="color:#d6d6d6" class="navbar-brand" href="https://misspuppyuk.com">MissPuppyUK</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/" style="color:#d6d6d6">Home</a></li>
                        <li><a href="https://misspuppyuk.com/about" style="color:#d6d6d6">About MissPuppyUK</a></li>
                        <li class="dropdown">
                            <a href="#" style="color:#d6d6d6" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/candidates">Candidates</a></li>
                                <li><a href="https://misspuppyuk.com/election">The Election</a></li>
                                <li><a href="https://misspuppyuk.com/signup">How to sign up</a></li>
                                <li><a href="https://misspuppyuk.com/vote">How to vote</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="https://misspuppyuk.com/contact" style="color:#d6d6d6">Contact</a>
                        </li>
                    </ul>
                    <!-- <ul class="nav navbar-nav navbar-right">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul> -->
                </div>
            </div>
        </nav>
    </div>
</div>