<!DOCTYPE html>

<html lang="en">

<body>

    {{template "header.html"}}
    {{template "navbar.html"}}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="https://misspuppyuk.com/img/mainpage.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>{{ .Username }}'s Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-3">
                <img class="img-circle" width="140" height="140" class="featurette-image img-responsive center-block" src="https://misspuppyuk.com{{ .Avatar }}"
                    alt="PepperPup's Avatar"><br><br>
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <div class="btn-group" role="group"><button type="button" onclick="window.location.href=''" class="btn btn-success">Good luck!</button>
                        <h1>Votes: {{ .Votes }}</h1>

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h2>{{ .Username }}</h2>
                <p class="lead">{{ .Bio }}</p>

                <br>
                <video width="320" height="240" controls controlsList="nodownload">
                    <source src="https://misspuppyuk.com{{ .Video }}" type="video/mp4"> Video not found or tag unsupported.
                </video>



            </div>
        </div>
    </div>



    {{template "footer.html"}}
    {{template "footer-scripts.html"}}

</body>

</html>